/*   Header   */

header{
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

a {color: #000;}

span {display: inline-block}

.container,
.nav,
.main-content {justify-content: space-around;}

.container {
    width: 200px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}

.aqua {
    color: mediumaquamarine;
}

.nav {
    width: 350px;
    display: inline-flex;
    align-items: flex-end;
}

/*   Body   */

.main-content {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-lg,
.column-md,
.column-sm {
    display: flex;
    flex-direction: column;
}

.column-lg {width: 630px;}

.column-md {width: 300px;}

.column-sm {width: 240px;}

.article {
    font-family: Georgia;
    font-size: 17px;
    color: #000;
    height: 250px;
}

.white {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

.main-story,
.story-1,
.story-2,
.story-3 {
    display: inline-flex;
    justify-content: center;
    height: 300px;
}

.story-1,
.story-2,
.story-3 {text-align: center;}

.main-story {
    background: url('/resources/img/img-story-main.png');
    font-size: 40px;
}

.story-1 {
    background: url('/resources/img/img-story-1.png');
}

.story-2 {
    background: url('/resources/img/img-story-2.png');
}

.story-3 {
    background: url('/resources/img/img-story-3.png');
}