/*   Header   */

header{
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

a {color: #000;}

span {display: inline-block}

.container {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.aqua {
    color: mediumaquamarine;
}

.nav {
    width: 350px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-around;
}

/*   Body   */

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    border: 1px solid #000;
    padding-top: 40px;
}

.column-lg,
.column-md,
.column-sm {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.column-lg {width: 630px;}

.column-md {width: 300px;}

.column-sm {width: 240px;}

.article,
.image {border: 1px solid #000;}
